table {
  border-collapse: collapse;
  background-color: #fff;
  width: 95%;
  margin: auto;
  table-layout: fixed;
  border-bottom: none; /* Убираем линию снизу */
}
.th {
  text-align: left;
  height: 60px;
}
.tbody {
  background-color: #f1f3f6;
  width: 100%;
}

.td {
  border-bottom: 1px solid #f1f3f6;
  padding-top: 20px;
  word-wrap: break-word;
}
.invoices {
  background-color: #fff;
}
.invoices > p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  padding-left: 10px;
}
